.offer_section{
    margin: auto;
    padding: 45px 0;

    min-height: 482px;
    background-color: var(--color-primary);
}

.offer_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.offer_image {
    max-width: 422px;
	object-fit: cover;
    padding-left: 100px;
}

@media (max-width: 1024px) {
	.offer_wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.offer_image{
		padding-left: 0;
	}
}


